### Credit : Niv levi - nivvlevi@gmail.com - https://www.linkedin.com/in/niv-levi
### Data : https://www.kaggle.com/datasets/thedevastator/revealing-insights-from-youtube-video-and-channel
### All visualizations were created in Tableau software.
---

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.patches as mpatches
import seaborn as sns

In [3]:
df = pd.read_csv("C:/Users/Niv Levi/Desktop/Youtube_data/YouTubeDataset_withChannelElapsed.csv")

In [4]:
df = df.loc[:,['channelId','videoCategoryId','channelViewCount','videoCount','subscriberCount','videoId','channelelapsedtime','channelCommentCount','videoViewCount','VideoCommentCount', 'elapsedtime', 'videoLikeCount','videoDislikeCount','videoPublished']]

In [5]:
df.head()

,channelId,videoCategoryId,channelViewCount,videoCount,subscriberCount,videoId,channelelapsedtime,channelCommentCount,videoViewCount,VideoCommentCount,elapsedtime,videoLikeCount,videoDislikeCount,videoPublished
0,UCdzU3DSGzyWzN2118yd9X9g,22,14654,30,18,--DwgB78t-c,88705,1,1712,0,50040,10,1,2012-01-19T18:38:28.000Z
1,UC0UnhAG47DRyVZGVcbhAXhQ,10,105909,51,184,--NZRkXBV7k,93409,8,10916,2,22080,44,3,2015-03-30T04:04:40.000Z
2,UCXjtAvK5P3wXBGh0vbGylzg,27,48265,72,338,--hoQ2sGG4M,72240,5,3478,2,71544,8,1,2009-08-07T06:51:10.000Z
3,UCeKHMeUlcLNPLCLUfZUQI2w,26,2116722,172,22051,--sBoaqBlzA,82512,74,19497,10,54096,161,6,2011-08-04T01:07:38.000Z
4,UCNWPDyaWf2eAHnofFLSnEMg,20,1649075,2777,220,--7h1S4neDM,31248,0,2201,0,30120,1,0,2014-04-29T15:44:44.000Z

---
> ### 1. Data info:

#### 1.1 What is the size of the data?

In [ ]:
df.shape

(575610, 14)

#### 1.2 What is the size each column?

In [ ]:
df.count()

channelId              575610
videoCategoryId        575610
channelViewCount       575610
videoCount             575610
subscriberCount        575610
videoId                575610
channelelapsedtime     575610
channelCommentCount    575610
videoViewCount         575610
VideoCommentCount      575610
elapsedtime            575610
videoLikeCount         575610
videoDislikeCount      575610
videoPublished         575610
dtype: int64

---
> ### 2. Data preparing:
- In terms of Data preparing, there is no much work to do. The data is well formerd.
    - The type of each column is fit.
    - There is no missing values.
    - I arranged the "videoPublished" to 4 separate time columns (Weekday, Day, Month, Year).

#### 2.1 Lets chack the coloum's type :

In [ ]:
df.dtypes

channelId              object
videoCategoryId         int64
channelViewCount        int64
videoCount              int64
subscriberCount         int64
videoId                object
channelelapsedtime      int64
channelCommentCount     int64
videoViewCount          int64
VideoCommentCount       int64
elapsedtime             int64
videoLikeCount          int64
videoDislikeCount       int64
videoPublished         object
dtype: object

In [ ]:
df.isnull().sum()

channelId              0
videoCategoryId        0
channelViewCount       0
videoCount             0
subscriberCount        0
videoId                0
channelelapsedtime     0
channelCommentCount    0
videoViewCount         0
VideoCommentCount      0
elapsedtime            0
videoLikeCount         0
videoDislikeCount      0
videoPublished         0
dtype: int64

In [6]:
df['videoPublished'] = pd.DatetimeIndex(df.videoPublished)
df['Weekday'] = df['videoPublished'].dt.strftime('%A')
df['Day'] = pd.DatetimeIndex(df.videoPublished).day
df['Month'] = pd.DatetimeIndex(df.videoPublished).month
df['Year'] = pd.DatetimeIndex(df.videoPublished).year
df = df.drop('videoPublished', 1) #Date column is no longer necessary

C:\Users\Niv Levi\AppData\Local\Temp\ipykernel_15500\3277130664.py:6: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  df = df.drop('videoPublished', 1) #Date column is no longer necessary

In [ ]:
df.head()
#df.to_csv('youtubeNew.csv')

,channelId,videoCategoryId,channelViewCount,videoCount,subscriberCount,videoId,channelelapsedtime,channelCommentCount,videoViewCount,VideoCommentCount,elapsedtime,videoLikeCount,videoDislikeCount,Weekday,Day,Month,Year
0,UCdzU3DSGzyWzN2118yd9X9g,22,14654,30,18,--DwgB78t-c,88705,1,1712,0,50040,10,1,Thursday,19,1,2012
1,UC0UnhAG47DRyVZGVcbhAXhQ,10,105909,51,184,--NZRkXBV7k,93409,8,10916,2,22080,44,3,Monday,30,3,2015
2,UCXjtAvK5P3wXBGh0vbGylzg,27,48265,72,338,--hoQ2sGG4M,72240,5,3478,2,71544,8,1,Friday,7,8,2009
3,UCeKHMeUlcLNPLCLUfZUQI2w,26,2116722,172,22051,--sBoaqBlzA,82512,74,19497,10,54096,161,6,Thursday,4,8,2011
4,UCNWPDyaWf2eAHnofFLSnEMg,20,1649075,2777,220,--7h1S4neDM,31248,0,2201,0,30120,1,0,Tuesday,29,4,2014

---
> ### 3. Data Understanding:

- Some channels appear several times

In [ ]:
len(df['channelId'].unique())

449980

- Which channel is the most poupolar ?

In [ ]:
grouped = df.groupby(['channelId'])['subscriberCount'].aggregate('max').reset_index()
grouped.sort_values('subscriberCount', ascending=False)

                       channelId  subscriberCount
379624  UCq-Fj5jknLsUf-MWSy4_brA         25253114
1063    UC-8Q-hLdECwQmaWNwXitYDw         24412286
202008  UCRijo3ddMTht_IHyNSNXpNQ         22905062
246385  UCY30JRSgfhYXA6i6xX1erWg         22734349
277578  UCbW18JZRgko_mOGm5er8Yzg         22643492
...                          ...              ...
200856  UCRZch_mmBBPc9PfFhtPB5qw                0
318105  UChG-IDT6iO9Dg1q0jr500wg                0
248153  UCYJ9fVMHU96go4Wt18zmXkQ                0
318116  UChG5Ggz0xZAmKcrGLB9RHcA                0
356387  UCmkTv7kIj3JzOGCAh5KWZpA                0

[449980 rows x 2 columns]

- Maybe the data is fake? How is it possible that there is no increase in the number of subscribers on the most popular channel in the years that YouTube has prospered?

In [ ]:
most_popular = df[df.loc[:,'channelId'] == 'UCq-Fj5jknLsUf-MWSy4_brA']
most_popular.groupby(['Year'])['subscriberCount'].aggregate('max').reset_index()

   Year  subscriberCount
0  2011         25253114
1  2012         24066694
2  2013         25250221
3  2014         25246906
4  2015         24065449

- An equal number of channel checks were not performed every year.
  So my anlyzing will be established on averages.

In [ ]:
df.pivot_table('channelId',index='Year',margins=True , aggfunc='count')

      channelId
Year
2005         64
2006       6868
2007      24104
2008      40093
2009      54334
2010      63562
2011      78180
2012      88769
2013      92422
2014      83769
2015      43445
All      575610

---
> ### 4. Data Analysis:

#### 4.1 What is the most popular category by views? :
- The data set has several categories. I wanted to check if there is more interest in videos of a certain category on YouTube.
- It can be seen that "24" category is the most popular.

![](https://raw.githubusercontent.com/nivlevi1/YouTube-Videos-and-Channels-Metadata/main/1.png)

#### 4.2 Channel spends time analysis :
- You can see that in 2012 YouTube's growth trend in terms of user time stopped.
- Although users saw the most videos from the "24" category, the videos that kept users on YouTube the longest were from the "10" category.

![](https://raw.githubusercontent.com/nivlevi1/YouTube-Videos-and-Channels-Metadata/main/6.png)

#### 4.3 Do subscribers help to break the internet ? & Are the most viewed videos from recent years?   :
- The data set has several categories. I wanted to check if there is more interest in videos of a certain category on YouTube.
- You can see a positive (medium-weak) relationship between the number of subscribers and the number of views. It will be difficult for a channel with less than 1 million subscribers to get more than 1 billion views.
- You can clearly see that the most viewed videos on YouTube are videos from recent years.

![](https://raw.githubusercontent.com/nivlevi1/YouTube-Videos-and-Channels-Metadata/main/2.png)

#### 4.4 Video anlysis   :
- 6 of the 10 most viewed videos are from category "10". And they are about a third of the number of views of this category.
- The "24" category-most viewed has only 2 videos in the top 10.
- Regarding "24" category, the sum of the views on the channels compared to the duration of the spend time, can indicate that this is a category of mainly short videos. Maybe songs.

In [30]:
df.pivot_table(['videoViewCount','videoCategoryId'], index=['videoId'] , aggfunc='max').sort_values('videoViewCount', ascending =False).head(10)

             videoCategoryId  videoViewCount
videoId
TDwBuPsrSM4               43       500893946
4fndeDfaWCg               10       341730801
VU34MIYBuL8               24       193657457
3LHrNvG0ayA               10       189850173
7xzU9Qqdqww               10       147026601
50GQjUZ4P3M               10       145486455
TImHWyOyok0               10       139806895
uCBeC1DoZks               43       129453983
3yl-5FOZcr0               10       107185267
2MYcoAcwF0E               24       102398040

#### 4.5 Do subscribers help to break the internet ? & Are the most viewed videos from recent years?   :
- An increasing trend in the average likes and comments for the video over the years.
- There is a correlation between the increase in the average number of likes and the average number of comments to the video.

![](https://raw.githubusercontent.com/nivlevi1/YouTube-Videos-and-Channels-Metadata/main/3.png)

#### 4.6 Does YouTube encourage uploading more videos?   :
- You can clearly see an increase in the average number of videos per channel.

![](https://raw.githubusercontent.com/nivlevi1/YouTube-Videos-and-Channels-Metadata/main/4.png)

#### 4.7 What is the most popular day to publish a video?   :
- There is not much difference between the days. But it can be seen that Monday is the most popular day for sharing videos.

![](https://raw.githubusercontent.com/nivlevi1/YouTube-Videos-and-Channels-Metadata/main/5.png)

#### 4.8 Do users tend to like or dislike videos?   :
- Most of the videos got more likes than dislikes.

![](https://raw.githubusercontent.com/nivlevi1/YouTube-Videos-and-Channels-Metadata/main/7.png)